body {
    font-family: 'Times New Roman', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;

}
h{
    font-size: 0; 
}
h1 {
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #67bcbc; 
    background-color: #0000003e;
    font-size: 2.5em; 
    font-weight: bold; 
    margin-bottom: 10px; 
  }

h2{
    transform: translate(35%,0%);
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    color: #ffffff; 
    background-color: #e4e4e400;
    font-size: 2.5em; 
    margin-bottom: 10px; 
  }

.border {
    border: 2px solid #adadad; 
    padding: 5px; 
    margin: auto;
    display: inline-block; 
  }

.Game_Desc {
    font-family: monospace;
    border: 2px solid #adadad; 
    padding: 20px; 
    margin: 20px;
    display: inline-block; 
    background-color: #3333339e;
    color: #fff;
    text-align: center;
    font-size: 16px;
  }

.game {
    border: 5px solid #04fbff; 
    padding: 5%; 
    margin: 8%;
    display: inline-block; 
    margin-left: 20%;
    background-color: #00000050;
  }

fieldset {
    border: 1px solid #009688; 
    padding: 10px; 
    width: auto; 
    margin: 0; 
    background-color: #00000050;
  }

.navbar{
    font-size: 1.2em;
    width: 85%;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #adadad00;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 1.2em;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.2s;
}
.navbar ul li:hover::after{
    width: 100%;
}
section {
    max-width: 60%;
    margin: 0 auto;
    padding: 5%;
    text-align: center;
}

.aboutme{
    font-size: x-large;
    color: #fff;
}
#personal-info img {
    border-radius: 10%;
    margin-top: 10px;
    width: 25%; 
    height: auto; 
}


#main-game {
    background-color: #4e4e4e77;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.memory-card {
    width: 6em; 
    height: 6em; 
}

#score-display {
    font-size: 18px;
    font-weight: bold;
    color: #009688; 
    margin-top: 10px;
}

button {
    text-transform: uppercase;
    width: 30%;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background-color: #333333ba;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.2s;
    z-index: -2;
}
button:hover span{
    width: 100%;
}
button:hover span{
    border: none;
}


.banner{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(29, 29, 29, 0.375),rgba(55, 55, 55, 0.439)),url(background.jpeg);
    background-size: cover;
    background-position: center;
}

footer {
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 0.6%; 
}
